body{
	margin: 0;
	padding:0;
	font-family: sans-serif;
}
/*------------Header CSS--------------*/
#header{
	height:100vh;
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(img/gallery03.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.user-box{
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	position: absolute;
}
.img-logo{
	align-items: left;		
}
.user-box img {
	border-radius: 50%;
	width: 250px;
	border: 5px solid #fff;
}
.user-box img:hover {
	border-radius: 50%;
	width: 350px;
	border: 5px solid #fff;
}
.user-box h1{
	color: #fff;
	font-weight: bold;
	margin: 10px;

}
.user-box h5 {
	color: #fff;
}
.scroll-btn{
	bottom: 30px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border: 3px solid #fff;
	padding: 10px 15px 30px;
	border-radius: 30px;
}
.scroll-bar span {
	border: 4px solid #fff;
	font-size: 15px;
	border-radius: 30px;
}
.scroll-bar{
	animation: mover 1s infinite alternate;
}



.polling_message {
  color: white;
  float: left;
  margin-right: 2%;
}

.view_port {
  background-color: black;
  height: 25px;
  width: 100%;
  overflow: hidden;
}
.cylon_eye {
  background-color: red;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, .9) 25%,
      rgba(0, 0, 0, .1) 50%,
      rgba(0, 0, 0, .9) 75%);
  color: white;
  height: 100%;
  width: 40%;

  -webkit-animation: 5s linear 0s infinite alternate move_eye;
          animation: 5s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
        @keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
@keyframes mover {
	0%{transform: translateY(0);}
	100%{transform: translateY(15px);}
}
/*----------About----------*/

.about{
	padding-top: 100px;
	margin-bottom: -275px;
}
.profile-img{
	height: 400px;
}
.nav-bar{
	top: 0;
	position: sticky;
	z-index: 2;

}
.navbar{
	background-color: #000;
}
.navbar-brand img{
	height: 50px;

}
.nav-bar .fa-bars{
	font-size: 35px;
	color: #fff;
}
.nav-bar-toggler{
	outline: none !important; 
}
.navbar-nav{
	float: centre;
	text-align: center;
}
.nav-link{
	color:#fff !important;
}
.skills-bar p{
	margin-bottom: 6px;
	font-weight: 700;
}
.progress {
	border-radius: 16px !important;
	margin-bottom: 10px;
}
.progress-bar{
	border-radius: 16px;
	background:#000 !important; 
}

/*------------resume------------*/
.resume{
	margin-top: -50px;
	padding-bottom: 30px;
	background:#f9f9f9;
}
.resume h1{
	margin-bottom: 50px;
	    margin-top: 30px;
}
.timeline{
	list-style-type: none;
	position: relative;
}
.timeline1{
	list-style-type: none;
	position: relative;
	margin-left: -40px
}
.timeline:before{
	content: '';
	background:#000;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 1;
}
.timeline li{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	background:#fff;
}
.timeline h4{
	background-color: #000;
	padding: 5px 0 5px 20px;
	color: #fff;
	font-size: 15px; 
}
.timeline li h4 span {
	font-weight: bold;
	color: #ccc;
}\
.timeline1 li{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	background:#fff;
}
.timeline1 h4{
	background-color: #000;
	padding: 5px 0 5px 20px;
	color: #fff;
	font-size: 15px; 
}
.timeline1 li h4 span {
	font-weight: bold;
	color: #ccc;
}
.timeline li:before{
	content: '';
	background:#fff;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border:3px solid #000;
	width: 20px;
	left: 20px;
	height: 20px;
	z-index: 1;
}


/*----------------Services--------------------*/

.services{
	padding-top: 50px;
	padding-bottom: 125px;
	background: lightgrey;
}
.services h1{
	margin-bottom: 20px;
}
.services-box {
	background:#f9f9f9;
	padding:10px;
	margin-top:20px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
}
.services-box .fa{
	margin:0 10px;
	font-size: 25px;
}
.services-box span{
	margin: 5px;
	font-size: 20px;
	font-weight: bold;
}
.services-box p{
	font-size: 15px;
	margin-top: 20px;
	color: #777;
}
.services-box:hover{
	background:#000;
	color: #fff;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: 1s;
}
.services-box:hover p {
	color: #fff;
}


/*-------------------Contact---------------------*/

.contact{
	padding-top: 50px;
	background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.7)), url(img/background3.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

.contact .row{
	padding: 30px 0;
	font-size: 22px;
}
.contact .col-md-4 .fa{
	padding: 10px;
	font-size: 40px;
}
.contact .btn{
	padding: 10px 25px 10px 25px;
	margin:5px;
	border-radius: 30px;
	border: 3px solid #fff;
	background:transparent;
}
.contact .btn:focus{
	box-shadow: none !important;

}
.contact .btn:hover{
	border: 3px solid #000;
	background-color: #000 !important;
	transition: 0.6s;
}

.contact .btn a{
	color: #fff;
	text-decoration: none;
}
.contact .btn .fa{
	margin-right: 15px;
}
.contact .col-md-4 a{
	color: #fff;
}
.footer{
	background-color: #000;
	height: 50px;
	margin-top: 50px;
	color: #fff;
	padding-top: 10px
}
.fa-heart-o{
	color: red;
}
/*--------------social-icon------------*/

.social-icon{
	top: 50%;
	transform: translateY(-50%);
	position: sticky;
	z-index: 1;
	width: 80px;
}
.social-icon ul{
	padding: initial;
}
.social-icon ul li{
	height: 60px;
	width:60px;
	list-style-type: none;
	padding-left: 15px;
	padding-top: 6px;
	margin-top: 5px;
	color: #fff;
	background-color: #000;
}
.social-icon ul li:hover{
	padding-left: 30px;
	width: 120px;
	transition:1s; 
}
.social-icon ul li .fa{
	font-size: 30px;
	padding-top: 5px;
}

@media only screen and (max-width: 600px) {
	body{
		overflow-x: hidden;
	}
 
 .social-icon ul li{
	height: 30px;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	width:30px;
}
.social-icon ul li .fa{
	font-size: 15px;

}
.about {
    padding-top: 60px;
    margin-bottom: -130px;
}
}